fastapi==0.115.5
uvicorn==0.32.0
pydantic==2.9.2
pyyaml==6.0.2
tqdm==4.66.6

numpy==1.26.4
scikit-learn==1.5.2
faiss-cpu==1.9.0

sentence-transformers==3.2.1
transformers==4.46.2
torch==2.5.1